body {
    font-family: Arial, serif;
    font-size: .8em;
}
th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
}
small {
    font-size: .8rem;
}
iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}
fieldset {
    border: 1px solid silver;
    margin-bottom: 20px;
    line-height: 2.5;
}
legend {
    font-size: 1.1rem;
    font-weight:bold;
}
label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}
button {
    padding: 3px 6px;
}
input {
    padding: 4px 2px;
}
input::placeholder {
    color: silver;
}
input#api_key {
    width: 400px;
}
.container {
    width: 800px;
    margin: 100px auto 0 auto;
}