
.card-bordered {
    border-top: 4px solid #26a69a;
}

.btn {
    margin-bottom: 5px;
}

.row-margin {
    margin-bottom: 20px;
}

.result-card .card-title {
    margin-bottom: 0;
}

.result-container {
    overflow: hidden;
    box-sizing: content-box;
}

.result-card pre {
    margin-bottom: 0;
}

.title-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.key-input-container {
    padding-bottom: 30px;
}
